module.exports = {
    slack: {
        ignoreLastTimestamp: false,
        token: process.env.SLACK_TOKEN,
        channelIds: ["#daily-typing-tourney"],
        username: "Daily Typing Tourney",
    },
    twitter: {
        username: process.env.TWITTER_USERNAME,
        password: process.env.TWITTER_PASSWORD,
    },
};
